<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>airport</title>
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>

    <style>
        body {
            background-image: url("D:\\4sem\\bazydanych\\PanelKontroliLotniska\\src\\main\\resources\\static\\img\\NieboXD.png");
            background-size: cover;
        }

        button {
            margin-left: 25px;
        }
    </style>
</head>
<body th:style="'background: url(/img/NieboXD.png) no-repeat center center fixed;'">
<!--PRZYCISKI-->
<div style="height: 25px"></div>
<div>
    <form action="/" method="get" id="menu"></form>
    <button type="submit" form="menu" style="float: left" class="btn btn-default button">menu główne
    </button>
</div>

<div>
    <form action="/add-form" method="get" id="update"></form>
    <button style="float: left" type="submit" form="update" class="btn btn-default button">dodaj
    </button>
</div>
<br>
<br>
<!--<form action="/logout" method="get" id="logout"></form>
<button type="submit" form="logout" class="btn btn-default button">wyloguj</button>
-->


<div class="container" algin="center">


    <div class="row">

        <div class="col-lg-12">
            <table align="center" class="table table-hover">
                <tr>
                    <th>Nazwa lotniska</th>
                    <th>Miasto</th>

                </tr>
                <tr th:each="a : ${airports}">
                    <td th:text="${a.name}"></td>
                    <td th:text="${a.city}"></td>
                    <td>
                        <!--do nadawania nazw formularzy aby kazdy przycisk kasowal dany produkt-->
                        <form action="/delete" method="post" th:id="${a.name}">
                            <input type="hidden" name="del" th:value="${a.name}">
                        </form>
                        <button type="submit" th:form="${a.name}" class="btn btn-outline-danger">usuń</button>
                    </td>

                    <td>
                        <form action="/update-form" method="get" th:id="${a.name} + update">
                            <input type="hidden" name="name" th:value="${a.name}">
                            <input type="hidden" name="city" th:value="${a.city}">
                        </form>
                        <button type="submit" th:form="${a.name} + update" class="btn btn-outline-success">
                            aktualizuj
                        </button>
                    </td>
                </tr>


            </table>
        </div>

    </div>

</div>


</body>

</html>