<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update fly</title>
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
</head>
<body th:style="'background: url(/img/NieboXD.png) no-repeat center center fixed;'">


<div class="container" align="center">

    <div class="row">
        <div class="col-sm-6" style="min-height: 120px"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="/updatefly" method="post" id="form">

                <input type="hidden" name="id" th:value="${fly.flyID}">

                <label>Czy odbył się?</label>
                <div class="group">
                    <label class="form-check-label" for="gridCheck1"> tak </label>
                    <input type="radio" id="gridCheck1" name="tookPlace" value="true">
                </div>
                <div class="group">
                    <label class="form-check-label" for="gridCheck2"> nie </label>
                    <input type="radio" id="gridCheck2" name="tookPlace" value="false" checked>
                </div>


                <div>
                    Data przylotu: <input type="datetime-local" name="dateDeparture" th:value="${fly.departureDate}"/>
                </div>
                <div>
                    Data wylotu: <input type="datetime-local" name="dateArrival" th:value="${fly.arrivalDate}"/>
                </div>


                <!--    <div class="form-group">
                        <label for="airportSelector">Wybierz samolot</label>
                        <select class="form-control" id="airportSelector" name="airplane">

                            <option th:each="a : ${airplane}"
                                    th:text="${a.serialNo}"
                                    th:value="${a.serialNo}"></option>
                        </select>
                    </div>-->

                <button type="submit" class="btn btn-primary" form="form">aktualizuj produkt</button>

                <button type="submit" class="btn btn-default" form="prod">wróć</button>

            </form>


            <form action="/flights" method="get" id="prod"></form>

        </div>
    </div>


</div>


</body>
</html>